.calendar {
  overflow: hidden;
}

.calendar th,
.calendar td {
  padding: 1em 2em;
}
@media all and (max-width: 768px) {
  .calendar th,
  .calendar td {
      padding: 5px;
  }
}

.calendar th {
  background: #e5d285;
}

.calendar td {
  text-align: center;
}

.calendar .today {
  font-weight: bold;
  background-image: linear-gradient(to top, #9a9de6 0%, #ac75e8 100%);
}

.calendar .active {
  background-image: linear-gradient(120deg, #c9921c 0%, #1a9ba4 100%);
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.month-selector th {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: capitalize;
}

.month-cell:hover {
  background: #0d99da;
  cursor: pointer;
}

.select-month-title {
  font-weight: bold;
  background: #b152ed;
}

.toggle-month {
  text-align: center !important;
}

.toggle-month:hover,
.week-day:hover {
  cursor: pointer;
  background: #df9494;
}

.arrow-icon {
  padding: 5px 0 0 5px;
}

.calendar .selected-day {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(120deg, #ab1ecf 0%, #28b8bd 100%);
}

.box
 {
  padding: .25em 1.5em 1.5em 1.5em;
  display: 'flex';
  overflow: 'auto';
  flex-direction: 'column'
}

svg.MuiSvgIcon-root {
  transition: 250ms ease;
}
svg.MuiSvgIcon-root:hover {
  cursor: pointer;
  opacity: .5;
}


.countup {
  text-align: center;
  margin-bottom: 20px;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}
